<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="../static/fontawesome-free-6.2.0-web/css/fontawesome.css"
    />
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="./fontawesome-free-6.2.0-web/css/brands.css" />
    <link rel="stylesheet" href="./fontawesome-free-6.2.0-web/css/solid.css" />
   <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="../static/js/question.js" defer></script>
  </head>
  <body>
    <div
      class="container w-100 d-flex flex-column justify-content-center align-items-center w-100"
    >
      <h3>Survey title</h3>
        <form class="form w-75 d-flex flex-column justify-content-center" 
          method="post"
          action="/question/{{data}}"
          enctype="multipart/form-data">
            <input name="title" value="" readonly class="w-100 title h5 text-center text-primary" type="text" style="border: 0; outline:unset" >
            <button class="w-100 btn btn-outline-primary submit">Submit</button>
        </form>
    </div>
  </body>
</html>
